#index
  %header
    %h1
      Clouud
    %h2
      A unicorn of a service.

  %form{:action => find_room_path, :type => :post, :class => 'formtastic'}
    %p
      %input{:name => 'room', :placeholder => "Anything..."}
      %br
      %input{:name => 'submit', :type => 'submit', :value => 'Join a room'}